/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
----------------
Custom colors
------------------

colour scheme
Rausch (pink) #F8585D
Babu (teal) #00A699
Arches (orange) #FC642D
Hof (dark gray) #484848
Foggy (light gray) #767676


*/

/* 
-------------
My Customs CSS
-------------
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #484848;
  font: 300 16px/22px "Montserrat", "Roboto", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: normal;
  position: relative;
}

h1,
h2,
h3,
h4 {
  color: #484848;
}
h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}

h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}

input,
select,
option,
textarea {
  font: 300 16px/22px "Montserrat", "Roboto", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

/*
  ========================================
  Explore section
  ========================================
*/

/* header {
  height: 100vh;
  min-height: 680px ;
  width: 100%;
  position: relative;
} */

.header-bg {
  background-image: url("/assets/images/bkground.jpg");
  background-color: #767676;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 60px repeat(10, 1fr) 60px;
}

.site-logo {
  order: 0;
  height: 34px;
  width: 34px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-content: center;
  grid-column: 1 / -1;
  height: 80px;
  padding: 24px;
  font-weight: 600;
}

.navigation li {
  display: inline-block;
  justify-content: flex-start;
  order: 1;
  margin: 0 8px;
  vertical-align: top;
}

.navigation li a {
  text-decoration: none;
  color: #484848;
  font-size: 14px;
  height: 80px;
}
.navigation li a:hover {
  padding-bottom: 24px;
  border-bottom: 2px #fc642d solid;
  font-size: 14px;
}

.header-form--section {
  padding-top: 40px;
  grid-column: 2 / span 10;
}

.header-form {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.25);
  padding: 32px;
  padding-bottom: 24px;
  max-width: 441px;
  height: 100%;
}
.header-form > h2 {
  font-weight: 700;
  line-break: 36px;
  font-size: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.header-form > label {
  cursor: pointer;
  display: block;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 8px;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.header-form input,
.header-form select,
.header-form textarea {
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  background-color: #ffffff;
  display: flex;
  height: 48px;
  width: 100%;
  align-items: center;
  position: relative;
}

#check-in,
#check-out {
  display: inline;
}
.header-form .button-section {
  display: flex;
  justify-content: flex-end;
  padding: 15px 0;
}

.header-form--button {
  display: inline-block;
  margin: 0px;
  position: relative;
  width: auto;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  border-width: 2px;
  border-style: solid;
  padding: 10px 22px;
  min-width: 71px;
  background: #ff5a5f;
  border-color: transparent;
  color: #ffffff;
}

.side-text {
  text-align: right;
  padding: 24px;
  z-index: 3;
  font-weight: 600;
  grid-column: 8 / span 4;
}

/*
  ========================================
  Explore section
  ========================================
*/

main {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  grid-template-rows: repeat(5, auto);
  padding-bottom: 3em;
}

main > * {
  grid-column: 2/3;
  min-width: 0;
}

.explore {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 1rem;
}

.explore-cards {
  display: flex;
  align-content: center;
  border: 1px solid #767676;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
  border-color: rgba(0, 0, 0, 0.1);
}

.explore-cards > img {
  height: 72px;
  width: 96px;
}

.explore-cards > h4 {
  flex-grow: 1;
  font-weight: 800;
  font-size: 17px;
  line-height: 24px;
  padding: 14px 16px 10px;
  padding: 0 20px;
  align-self: center;
}

.section-title {
  grid-column: 1/-1;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  margin-top: 12px;
  margin-bottom: 15px;
}

/*
  ========================================
  mini-hero section
  ========================================
*/

.mini-hero {
  display: grid;
  grid-template-columns: 60px 1fr auto;
  grid-template-rows: 52% 60px 10px;
  margin-top: 2em;
  margin-bottom: 2em;
  background-image: url("/assets/images/hero-image.jpg");
  background-color: #767676;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 350px;
  width: 100%;
}

.mini-hero h3 {
  font-size: 38px;
  line-height: 44px;
  font-weight: 400;
  width: 600px;
  color: #ffffff;
}

.hero-section-1,
.hero-section-2 {
  grid-column: 2/3;
}
.hero-section-1 {
  align-self: center;
  grid-row: 1 / 2;
  padding-top: 2em;
}
.hero-section-2 {
  grid-column: 2/3;
  grid-row: 2 / 3;
}
.hero-section-3 {
  grid-column: 1/2;
  grid-row: 3 / -1;
  justify-self: start;
  align-self: start;
  padding-top: 5em;
}

.mh-bold {
  font-weight: 600;
}
.mini-hero--button-1 {
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid transparent;
  padding: 10px 22px;
  width: 137px;
  height: 48px;
  background: #ffffff;
  color: #767676;
  display: block;
}
.mini-hero--button-2 {
  grid-column: 1/2;
  justify-self: start;
  align-self: end;
  background: transparent;
  color: #ffffff;
  border: none;
}

/*
  ========================================
  recommendation section
  ========================================
*/

.recommendation {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-column-gap: 2px;
  grid-row-gap: 1px;
}

:root {
  --gutter: 22px;
}

.rec-horizontal-scroll {
  display: grid;
  grid-column: 1 / -1;
  grid-gap: calc(var(--gutter) / 3);
  grid-auto-flow: column;
  grid-auto-columns: calc(23% - var(--gutter) * 2.2);
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(0.75 * var(--gutter));
  margin-bottom: calc(-0.25 * var(--gutter));
}

.rec-card,
.places-card {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}

.rec-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  height: 281px;
  width: 225px;
  position: relative;
  text-align: center;
  color: #ffffff;
}

.rec-card > img {
  position: absolute;
  z-index: -3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.rec-card h4 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
}

.rec-card p {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}

.rec-card--details {
  position: absolute;
  right: 0;
  bottom: 32px;
  width: 100%;
}

.rec-card--tint {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45));
  border-radius: 3px;
}
/*
  ========================================
  Places section
  ========================================
*/

.m-top-3 {
  margin-top: 3em;
}

.m-top-3 > a {
  text-decoration: none;
  color: #484848;
}

.places {
  display: grid;
  grid-template-columns: repeat(4, minmax(256px, 1fr));
  grid-template-rows: 1fr auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 1px;
}
.places-card {
  padding: 8px 8px 12px;
}

.places-card--image > img {
  height: 190px;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.places-card--subtitle {
  font-size: 12px;
  font-weight: 800;
  color: #767676;
  line-height: 16px;
  margin-bottom: 2px;
  text-transform: uppercase;
}

.places-card--title {
  font-size: 18px;
  font-weight: 600;
  color: #484848;
  line-height: 22px;
  margin-top: 6px;
}
.places-card--details p,
.places-card--more {
  font-size: 14px;
  font-weight: 400;
  color: #484848;
  line-height: 18px;
  margin-bottom: 2px;
}

.places-card--more {
  line-height: 16px;
  font-size: 12px;
  margin-top: 2px;
}

.places-card--details > div {
  font-size: 14px;
  line-height: 18px;
  margin-top: 4px;
}

footer {
  display: grid;
  grid-template-columns: 60px repeat(4, 1fr) 60px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 3em;
  padding-left: 3em;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 1rem;
  grid-column: 2/-2;
  padding-top: 2em;
  padding-bottom: 3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.footer-column > h3 {
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  color: #484848;
  margin-bottom: 5px;
}
.footer-column a {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #767676;
  text-decoration: none;
  margin-bottom: 4px;
}

.footer-column > ul {
  margin-bottom: 0px;
  margin-top: 16px;
  padding-left: 0px;
  list-style: none;
}
.social-icons {
  display: flex;
  margin-bottom: 4px;
}
.social-icons span {
  margin-right: 10px;
}

.footy {
  display: flex;
  justify-content: space-between;
  grid-column: 2/-2;
  padding-top: 20px;
  padding-bottom: 20px;

}

.footy-tagline {
  font-size: 14px;
  line-height: 18px;
  color: #767676;
}

.footy-section-1 {
  display: inline-flex;
  align-self: center;
}

.footy-section-2 {
  grid-column: span 2/ -1;
  display: flex;
  font-weight: 600;
}

.footy-section-2  select {
  background-color: transparent;
  border: none;
  padding: 2px 2px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #484848;
}
.footy-section-2  option {
  padding: 2px 2px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #484848;
}

/*
  ========================================
  Mobile Responsiveness
  ========================================
*/
@media only screen and (max-width: 768px) {
  .side-text {
    padding: 12px;
    margin: 1em 0;
    grid-column: 4 / span 8;
    color: #ffffff;
  }
  .hero-section-1 {
    padding-top: 1em;
  }
  .mini-hero h3 {
    font-size: 20px;
    line-height: 22px;
    width: 200px;
  }
}
